/* Ejemplo 1 */
img{
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border: 2px solid rgb(70, 143, 118)
}

/* Ejemplo 2 */
.icono{
    width: 100px;
    height: 100px;
    background-image: url("../img/penguin-svgrepo-com.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Ejemplo Repeat */
/* body{
    height: 100%;
    background-image: url("../img/penguin-svgrepo-com.svg");
    background-repeat: repeat;
    background-size: 40px 40px;
} */

