
/**
Header
**/
.titulo{
  justify-items: center;

}

/**
Carnet
**/

.carnet {

  margin-top: 40px;

  width: 700px;
  height: 250px;

  background-color: rgb(240, 163, 63);

  border: solid;
  border-width: 3px;
  border-radius: 10px;

  justify-self: center;

  display: flex;
}

.marcoFoto{
  padding: 20px;

  /* background-color: blue; */

  width: 200px;
}

.pfp{
  width: 200px;
  height: 148px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}

.pfp:hover{
  animation: zoom 1s infinite;
}

@keyframes zoom {
  0%{
    scale: 100%;
  }

  50%{
    scale: 110%;
  }

  100%{
    scale: 100%;
  }
}

.listasContainer{
  display: flex;
  
}

.lista{
  margin-left: 30px;
}

.contenido{
  /* background-color: red; */
  margin-left: 10px;
}
